img{
    
    margin-top: -60mm;
    width: 200mm;
    height: 200mm;
    

}

.jumbotron{
    background-color: lightblue;

}

body {
    background-color: lightgoldenrodyellow;
    
}

button { 
    margin-top: 2pc;
    margin-left: 75mm;
    


}

.info {
   text-align: center;
    font-size: 50px;
   
    
    
}